<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundImages</key>
	<dict>
		<key>Landscape;iPhone-Alert</key>
		<string>Land.png</string>
		<key>Landscape;iPhone-Standard</key>
		<string>Land.png</string>
		<key>Portrait;iPhone-Alert</key>
		<string>Port.png</string>
		<key>Portrait;iPhone-Standard</key>
		<string>Port.png</string>
	</dict>
	<key>CustomColor</key>
	<array>
		<array>
			<string>QwertySymbol</string>
			<string>000000FF</string>
		</array>
		<array>
			<string>QwertyEtch</string>
			<string>00000000</string>
		</array>
		<array>
			<string>QwertyHlight</string>
			<string>C4C4C4FF</string>
		</array>
		<array>
			<string>QwertyFGbegin</string>
			<string>FCFCFCFF</string>
		</array>
		<array>
			<string>QwertyFGend</string>
			<string>F7F7F7FF</string>
		</array>
		<array>
			<string>SecondarySymbol</string>
			<string>FFFFFFFF</string>
		</array>
		<array>
			<string>SecondaryEtch</string>
			<string>707070FF</string>
		</array>
		<array>
			<string>SecondaryHlight</string>
			<string>505050FF</string>
		</array>
		<array>
			<string>SecondaryFGbegin</string>
			<string>808080FF</string>
		</array>
		<array>
			<string>SecondaryFGend</string>
			<string>707070FF</string>
		</array>
		<array>
			<string>SpaceSymbol</string>
			<string>505050FF</string>
		</array>
		<array>
			<string>ReturnHlight</string>
			<string>4E8DDCFF</string>
		</array>
		<array>
			<string>ReturnFGbegin</string>
			<string>2F87F0FF</string>
		</array>
		<array>
			<string>ReturnFGend</string>
			<string>2779ECFF</string>
		</array>
		<array>
			<string>DisabledSymbol</string>
			<string>FFFFFFFF</string>
		</array>
		<array>
			<string>DisabledEtch</string>
			<string>00000066</string>
		</array>
		<array>
			<string>NpadPressedFGbegin</string>
			<string>00000022</string>
		</array>
		<array>
			<string>NpadPressedFGend</string>
			<string>00000022</string>
		</array>
		<array>
			<string>ClearFGbegin</string>
			<string>00000000</string>
		</array>
		<array>
			<string>ClearFGend</string>
			<string>00000000</string>
		</array>
		<array>
			<string>UIKBColorBackgroundStandardLine1</string>
			<string>00000000</string>
		</array>
		<array>
			<string>UIKBColorBackgroundStandardLine2</string>
			<string>00000000</string>
		</array>
		<array>
			<string>UIKBColorBackgroundStandardGradientStart</string>
			<string>00000000</string>
		</array>
		<array>
			<string>UIKBColorBackgroundStandardGradientEnd</string>
			<string>00000000</string>
		</array>
		<array>
			<string>UIKBColorBackgroundAlertLine1</string>
			<string>00000000</string>
		</array>
		<array>
			<string>UIKBColorBackgroundAlertLine2</string>
			<string>00000000</string>
		</array>
		<array>
			<string>UIKBColorBackgroundAlertGradientStart</string>
			<string>00000000</string>
		</array>
		<array>
			<string>UIKBColorBackgroundAlertGradientEnd</string>
			<string>00000000</string>
		</array>
		<array>
			<string>UIKBColorKeyBlueRow1Highlight</string>
			<string>45454500</string>
		</array>
		<array>
			<string>UIKBColorKeyBlueRow1GradientStart</string>
			<string>2E8CEFFF</string>
		</array>
		<array>
			<string>UIKBColorKeyBlueRow1GradientEnd</string>
			<string>2673ECFF</string>
		</array>
	</array>
	<key>CustomLinearGradient</key>
	<array>
		<array>
			<string>QwertyGradient</string>
			<string>QwertyFGbegin</string>
			<string>QwertyFGend</string>
		</array>
		<array>
			<string>2ndGradient</string>
			<string>SecondaryFGbegin</string>
			<string>SecondaryFGend</string>
		</array>
		<array>
			<string>ReturnGradient</string>
			<string>ReturnFGbegin</string>
			<string>ReturnFGend</string>
		</array>
		<array>
			<string>NpadPressedGradient</string>
			<string>NpadPressedFGbegin</string>
			<string>NpadPressedFGend</string>
		</array>
		<array>
			<string>ClearGradient</string>
			<string>ClearFGbegin</string>
			<string>ClearFGend</string>
		</array>
	</array>
	<key>Styles</key>
	<dict>
		<key>iPhone-Alert</key>
		<array>
			<array>
				<string>DisplayType=Dictation,DynamicString,String,DualString,Space,Top-Level-Domain,Top-Level-Domain-Variant,TopLevelDomain,TopLevelDomainVariant;ControlState=3</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>QwertyEtch</string>
					<key>ForegroundGradient</key>
					<string>QwertyGradient</string>
					<key>HighlightColor</key>
					<string>QwertyHlight</string>
					<key>SymbolColor</key>
					<string>QwertySymbol</string>
					<key>SymbolSecondaryColor</key>
					<string>QwertySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=Dictation,Space;ControlState=3</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>QwertyEtch</string>
					<key>ForegroundGradient</key>
					<string>QwertyGradient</string>
					<key>HighlightColor</key>
					<string>QwertyHlight</string>
					<key>SymbolColor</key>
					<string>SpaceSymbol</string>
					<key>SymbolSecondaryColor</key>
					<string>SpaceSymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=Dictation,Space;ControlState=1</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>SecondaryEtch</string>
					<key>ForegroundGradient</key>
					<string>2ndGradient</string>
					<key>HighlightColor</key>
					<string>SecondaryHlight</string>
					<key>SymbolColor</key>
					<string>SecondarySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=Dictation,DynamicString,String,DualString,Top-Level-Domain,Top-Level-Domain-Variant,TopLevelDomain,TopLevelDomainVariant,Return,International,More,Delete,Shift,CandidateList;ControlState=1</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>QwertyEtch</string>
					<key>ForegroundGradient</key>
					<string>QwertyGradient</string>
					<key>HighlightColor</key>
					<string>QwertyHlight</string>
					<key>SymbolColor</key>
					<string>QwertySymbol</string>
					<key>SymbolSecondaryColor</key>
					<string>QwertySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=International,More,Delete,Shift,Dismiss,Command;ControlState=3</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>SecondaryEtch</string>
					<key>ForegroundGradient</key>
					<string>2ndGradient</string>
					<key>HighlightColor</key>
					<string>SecondaryHlight</string>
					<key>SymbolColor</key>
					<string>SecondarySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=Return;ControlState=3</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>SecondaryEtch</string>
					<key>ForegroundGradient</key>
					<string>ReturnGradient</string>
					<key>HighlightColor</key>
					<string>ReturnHlight</string>
					<key>SymbolColor</key>
					<string>SecondarySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=CandidateList,Shift;ControlState=6,7</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>ForegroundGradient</key>
					<string>2ndGradient</string>
					<key>HighlightColor</key>
					<string>SecondaryHlight</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=Return,International,More,Delete,Shift,CandidateList;ControlState=4</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>SecondaryEtch</string>
					<key>ForegroundGradient</key>
					<string>2ndGradient</string>
					<key>HighlightColor</key>
					<string>SecondaryHlight</string>
					<key>SymbolColor</key>
					<string>SecondarySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=Return,International,More,Delete,Shift,CandidateList;ControlState=2</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>SecondaryEtch</string>
					<key>ForegroundGradient</key>
					<string>2ndGradient</string>
					<key>HighlightColor</key>
					<string>SecondaryHlight</string>
					<key>SymbolColor</key>
					<string>SecondarySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=NumberPad;ControlState=2</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>UIKBColorClear</string>
					<key>ForegroundGradient</key>
					<string>ClearGradient</string>
					<key>HighlightColor</key>
					<string>UIKBColorClear</string>
					<key>SymbolColor</key>
					<string>UIKBColorClear</string>
					<key>SymbolSecondaryColor</key>
					<string>UIKBColorClear</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=NumberPad;ControlState=3</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>QwertyEtch</string>
					<key>ForegroundGradient</key>
					<string>ClearGradient</string>
					<key>HighlightColor</key>
					<string>UIKBColorClear</string>
					<key>SymbolColor</key>
					<string>QwertySymbol</string>
					<key>SymbolSecondaryColor</key>
					<string>QwertySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=NumberPad;ControlState=1</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>SecondaryEtch</string>
					<key>ForegroundGradient</key>
					<string>NpadPressedGradient</string>
					<key>HighlightColor</key>
					<string>UIKBColorClear</string>
					<key>SymbolColor</key>
					<string>SecondarySymbol</string>
					<key>SymbolSecondaryColor</key>
					<string>SecondarySymbol</string>
				</dict>
			</array>
			<array>
				<string>*</string>
				<dict>
					<key>KeyRoundRectRadius</key>
					<real>6</real>
				</dict>
			</array>
		</array>
		<key>iPhone-Standard</key>
		<array>
			<array>
				<string>DisplayType=Dictation,DynamicString,String,DualString,Space,Top-Level-Domain,Top-Level-Domain-Variant,TopLevelDomain,TopLevelDomainVariant;ControlState=3</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>QwertyEtch</string>
					<key>ForegroundGradient</key>
					<string>QwertyGradient</string>
					<key>HighlightColor</key>
					<string>QwertyHlight</string>
					<key>SymbolColor</key>
					<string>QwertySymbol</string>
					<key>SymbolSecondaryColor</key>
					<string>QwertySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=Dictation,Space;ControlState=3</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>QwertyEtch</string>
					<key>ForegroundGradient</key>
					<string>QwertyGradient</string>
					<key>HighlightColor</key>
					<string>QwertyHlight</string>
					<key>SymbolColor</key>
					<string>SpaceSymbol</string>
					<key>SymbolSecondaryColor</key>
					<string>SpaceSymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=Dictation,Space;ControlState=1</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>SecondaryEtch</string>
					<key>ForegroundGradient</key>
					<string>2ndGradient</string>
					<key>HighlightColor</key>
					<string>SecondaryHlight</string>
					<key>SymbolColor</key>
					<string>SecondarySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=Dictation,DynamicString,String,DualString,Top-Level-Domain,Top-Level-Domain-Variant,TopLevelDomain,TopLevelDomainVariant,Return,International,More,Delete,Shift,CandidateList;ControlState=1</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>QwertyEtch</string>
					<key>ForegroundGradient</key>
					<string>QwertyGradient</string>
					<key>HighlightColor</key>
					<string>QwertyHlight</string>
					<key>SymbolColor</key>
					<string>QwertySymbol</string>
					<key>SymbolSecondaryColor</key>
					<string>QwertySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=International,More,Delete,Shift,Dismiss,Command;ControlState=3</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>SecondaryEtch</string>
					<key>ForegroundGradient</key>
					<string>2ndGradient</string>
					<key>HighlightColor</key>
					<string>SecondaryHlight</string>
					<key>SymbolColor</key>
					<string>SecondarySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=Return;ControlState=3</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>SecondaryEtch</string>
					<key>ForegroundGradient</key>
					<string>ReturnGradient</string>
					<key>HighlightColor</key>
					<string>ReturnHlight</string>
					<key>SymbolColor</key>
					<string>SecondarySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=CandidateList,Shift;ControlState=6,7</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>ForegroundGradient</key>
					<string>2ndGradient</string>
					<key>HighlightColor</key>
					<string>SecondaryHlight</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=Return,International,More,Delete,Shift,CandidateList;ControlState=4</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>SecondaryEtch</string>
					<key>ForegroundGradient</key>
					<string>2ndGradient</string>
					<key>HighlightColor</key>
					<string>SecondaryHlight</string>
					<key>SymbolColor</key>
					<string>SecondarySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=Return,International,More,Delete,Shift,CandidateList;ControlState=2</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>SecondaryEtch</string>
					<key>ForegroundGradient</key>
					<string>2ndGradient</string>
					<key>HighlightColor</key>
					<string>SecondaryHlight</string>
					<key>SymbolColor</key>
					<string>SecondarySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=NumberPad;ControlState=2</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>UIKBColorClear</string>
					<key>ForegroundGradient</key>
					<string>ClearGradient</string>
					<key>HighlightColor</key>
					<string>UIKBColorClear</string>
					<key>SymbolColor</key>
					<string>UIKBColorClear</string>
					<key>SymbolSecondaryColor</key>
					<string>UIKBColorClear</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=NumberPad;ControlState=3</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>QwertyEtch</string>
					<key>ForegroundGradient</key>
					<string>ClearGradient</string>
					<key>HighlightColor</key>
					<string>UIKBColorClear</string>
					<key>SymbolColor</key>
					<string>QwertySymbol</string>
					<key>SymbolSecondaryColor</key>
					<string>QwertySymbol</string>
				</dict>
			</array>
			<array>
				<string>DisplayType=NumberPad;ControlState=1</string>
				<dict>
					<key>BackgroundGradient</key>
					<string>ClearGradient</string>
					<key>EtchColor</key>
					<string>SecondaryEtch</string>
					<key>ForegroundGradient</key>
					<string>NpadPressedGradient</string>
					<key>HighlightColor</key>
					<string>UIKBColorClear</string>
					<key>SymbolColor</key>
					<string>SecondarySymbol</string>
					<key>SymbolSecondaryColor</key>
					<string>SecondarySymbol</string>
				</dict>
			</array>
			<array>
				<string>*</string>
				<dict>
					<key>KeyRoundRectRadius</key>
					<real>6</real>
				</dict>
			</array>
		</array>
	</dict>
</dict>
</plist>
